<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/trtpo_sytem</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>


        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="Data.UniversityClass"/>
        <mapping class="Data.Lecturer"/>
        <mapping class="Data.Student"/>
        <mapping class="Data.Group.Group"/>
        <mapping class="Data.Group.SubGroup"/>
        <mapping class="Data.Lab.Lab"/>
        <mapping class="Data.Lab.IssuedLab"/>
        <mapping class="Data.Mark.Mark"/>
        <mapping class="Data.Mark.LabMark"/>
        <mapping class="Data.Mark.TestMark"/>
        <mapping class="Data.Test.Test"/>
    </session-factory>
</hibernate-configuration>