.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar .navbar-button {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.navbar-button{
    font-size: 16px;
    border: none;
    border-color: inherit;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: transparent;
    width: 100%;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar .navbar-button:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .navbar-button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .navbar-button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*

 */
.menu-icon {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}

#log-btn {
    margin-left:auto;
    margin-right:0;
    float: right;
    display: flex;
    flex-direction: row;
}

.container-ver {
    display: flex;
    flex-direction: column;
}

.container-hor {
    display: flex;
    flex-direction: row;
}

#table-title{
    text-align: center;
    font-size: 26px;
}

.subgroup-btn {
    height: 20px;
    width: 20px;
}

/*
    table
 */

.missed {
    background-color: rgb(255, 218, 6);
}

.visited {
    background-color: rgb(194, 255, 10);
}

.button-cell-div {
    border: none;
}

.header-cell {
    padding: 7px;
    background: silver;
}

.present {
    background: rgb(194, 255, 10);
}

.absent {
    background: rgb(255, 218, 6);
}

#edit {
    border-color: white;
    border: none;
}

.table-ui {
    width: 100%;
}

.cell-ui {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.header-cell {
    padding: 7px;
    background: silver;
}

.coef-10 {
    background: rgb(117, 225, 120);
}
.coef-08 {
    background: rgb(219, 250, 84);
}
.coef-06 {
    background: rgb(246, 250, 123);
}
.coef-04 {
    background: rgb(250, 244, 0);
}
.coef-02 {
    background: rgb(250, 200, 99);
}
.coef-00 {
    background: rgb(250, 119, 102);
}

/*
    popup window for press button "Добавить"
 */

.popup {
    position: relative;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popup-form {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -90%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popup-form::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
}

/*Disable  class*/

.disabled {
    pointer-events: none;
}
