.fixed{
    position: fixed;
    z-index: 100;
}

/*
    table
 */

td > input{
    border: 1px solid #dadada;
    display: block;
    padding: -200%;
    margin: 0;
    width: 100%;
    height: 100%;
}

.missed {
    background-color: rgb(255, 218, 6);
}

.visited {
    background-color: rgb(194, 255, 10);
}

.header-cell {
    background: silver;
}

.present {
    background: rgb(194, 255, 10);
}

.absent {
    background: rgb(255, 218, 6);
}

#edit {
    border-color: white;
}

.cell-ui {
}
.header-cell {
    padding: 7px;
    background: silver;
}

.coef-10 {
    background: rgb(117, 225, 120);
}
.coef-08 {
    background: rgb(219, 250, 84);
}
.coef-06 {
    background: rgb(246, 250, 123);
}
.coef-04 {
    background: rgb(250, 244, 0);
}
.coef-02 {
    background: rgb(250, 200, 99);
}
.coef-00 {
    background: rgb(250, 119, 102);
}
/*
    popup window for press button "Добавить"
 */

.popup {
    position: relative;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popup-form {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -90%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popup-form::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
}

/*Disable  class*/

.disabled {
    pointer-events: none;
}


/*for liks*/

a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #590683;
}

a:hover {
    //text-decoration: ;
    color: #0aba66;
    font-weight: 600;
}

a:visited{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #590683;
}

a.references:hover {
    cursor: pointer;
}


