.parent {
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    overflow: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.li {
    height: 100%;
    margin: 0 0 0 0;
    border: brown;
}

.ui-widget-header {
    /*height: 6%;*/
    background: white;
    border: 1px solid white;
    color: green;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: double brown;
}

.ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#subgroup-tabs{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#subgroup-1 {

}

#hor-buttonset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 10%;
    min-width: 135px;
}

#subgroup-tabs{
    width: 87%
}

.button{
    width: 100%;
    margin-bottom: 5px;
}

h2{
    margin: 0 0 0 0;
}

#choose-group{
    float: left;
}

#button-enter{
    float: right;
}

#table-title{
    text-align: center;
}

#information-part{
    display: flex;
    justify-content: flex-start;
}

.modal-wind{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    border: double blueviolet;
    display: none;
    opacity: 1;
    background: moccasin;
    padding: 6px 10px;
    border-radius: 20%;


    /*display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;*/



}

#mark-type-number{
    width: 80%;
}

#mark-type-combo-box{
    width: 90%;
}

.modal-wind-content {
    padding: 1px;

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    justify-content: flex-start;
/*    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;*/
}
